/* General page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    color: #333;
}
nav{
    background-color: #f6fafd;
    padding: 10px 0;
}
.nav-list li {
    display: block;   /* INLINE NAVBAR */
    margin: 0 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
}
/* Section styling */
section {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}
h2 {
    text-align: center;
    color: #2c3e50;
}

/* Resume Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #2c3e50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Contact Form */
form {
    width: 60%;
    margin: auto;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #f1c40f;
    color: black;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}